html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider {
    width: 10px;
    height: 10px;
}

.flr {
    float: right;
}

.warn {
    color: #fd4141;
}

.stretch {
    height: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}

.button-divider {
    height: 35px;
    width: 10px;
}

.page-width {
    max-width: 1200px;
    margin: auto;
}

.black {
    color: black;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
}

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
}
