<div class="full-width">
    <div class="header">Edit active hours</div>
    <div class="button-row">
        <div class="flex-container">
            <div *ngFor="let dayObj of days" class="button-container">
                <button mat-mini-fab [class.day-enabled]="dayObj.active" [class.day-disabled]="!dayObj.active"
                    aria-label="Example icon button with a menu icon" (click)="onDayClicked(dayObj)">
                    {{dayObj.char}}
                </button>
            </div>
        </div>
    </div>
    <div *ngFor="let day of activeDays" class="full-width">
        <div class="day">{{getDayString(day)}}</div>
        <div class="time">
            <div *ngFor="let hours of sortedWorkingHours[day]">
                <div class="flex-container WH-width">
                    <div class="time-picker-container">
                        <input class="time-picker" [ngxTimepicker]="fullTimeStart" [format]="24"
                            [value]="getTimePickerValue(hours.timeStart)" placeholder="17:00" aria-label="24hr format"
                            readonly>
                        <ngx-material-timepicker #fullTimeStart (timeSet)="onTimeSet($event, hours, 'start')">
                        </ngx-material-timepicker>
                    </div>
                    <span> _ </span>
                    <div class="time-picker-container">
                        <input class="time-picker" [ngxTimepicker]="fullTimeEnd" [format]="24"
                            [value]="getTimePickerValue(hours.timeEnd)" placeholder="17:00" aria-label="24hr format"
                            readonly>
                        <ngx-material-timepicker #fullTimeEnd (timeSet)="onTimeSet($event, hours, 'end')">
                        </ngx-material-timepicker>
                    </div>
                    <div class="price-container">
                        <mat-form-field class="price-input">
                            <input matInput [(ngModel)]="hours.priceForHour" type="number" min="1">
                            <span matSuffix>₪</span>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="add-button-container">
                <button mat-icon-button color="primary" (click)="onAddClick(day)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>