<mat-card class="login-card centered">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form class="example-form">
            <div *ngFor="let field of inputFields">
                <app-text-input [inputType]="field.inputType" [label]="field.label" [model]="payload"
                    [prop]="field.prop" [control]="field.control" [placeholder]="field.placeholder">
                </app-text-input>
                <div class="divider"></div>
            </div>
        </form>
        <div class="warn">
            {{errorMessage}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="flr" color="primary" (click)="onLoginClicked()">Login</button>
        <button mat-button color="primary" class="flr" (click)="onRegisterClicked()">Register</button>
        <div class="button-divider"></div>
    </mat-card-actions>
</mat-card>