<div class="page-width">
    <app-top-nav (onSearchClickedEvent)="goToHome()"></app-top-nav>
    <div class="full-width mt10">
        <app-edit-profile [user]="user"></app-edit-profile>
        <mat-divider></mat-divider>
        <div class="mb10">
            <app-change-password [user]="user"></app-change-password>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="isOwner" class="full-width mt10">
            <div class="profile-container">
                <span class="header left">
                    <span class="text">Owned rooms</span>
                    <span class="right">
                        <button mat-button matSuffix mat-mini-fab color="primary" (click)="addNewRoom()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </span>
            </div>
            <app-search-results [rooms]="rooms"></app-search-results>
        </div>
        <div *ngIf="!isOwner" class="full-width mt10">
            <span class="header left">
                <span class="text">Reservations status</span>
            </span>
            <app-reservation-calendar></app-reservation-calendar>
        </div>
    </div>
</div>