.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.day {
    font-weight: 400;
}

.time {
    text-align: end;
    color: rgba($color: #aaaaaa, $alpha: 1);
}
