img {
    object-fit: cover;
}

.header {
    height: 250px;
}

.container {
    position: relative;
    height: 95px;
    top: -99px;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.roomName {
    font-size: 3rem;
    font-weight: 400;
}

.editName {
    font-size: 1.5rem;
    position: relative;
    top: -22px;
}

.roomAddress {
    font-size: 1.5rem;
}

.editAddress {
    font-size: 1rem;
    position: relative;
    top: -58px;
}

.mapButton {
    position: absolute;
    right: 5px;
    bottom: 3px;
}

.mapButton a {
    color: white;
}

.mapButton a:visited {
    color: white;
}
